@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Patrick+Hand&display=swap');

/* bootstrap overrides */

.bg-dark {
    background-color: #0D47A1 !important;
}

.navbar-dark .navbar-toggler {
    color: rgba(255, 255, 255, 0.9);
    border-color: rgba(255, 255, 255, 0.5);
}

body {
    height: 100vh;
    font-family: 'Patrick Hand', cursive;
}

/* end: bootstrap overrides */
.btn-container {
    height: 100vh;
    margin-top: -194px;
}

.blue-gradient-bg {
    background: rgb(41,182,246);
    background: linear-gradient(45deg, rgba(41,182,246,1) 0%, rgba(79,195,247,1) 50%, rgba(129,212,250,1) 100%);
}

.blue-gray-gradient-bg {
    background: rgb(224,224,224);
    background: linear-gradient(45deg, rgba(224,224,224,1) 0%, rgba(255,255,255,1) 50%, rgba(224,224,224,1) 100%);
}

.purple-gradient-bg {
    background: rgb(186,104,200);
    background: linear-gradient(45deg, rgba(186,104,200,1) 0%, rgba(156,39,176,1) 100%);
}

.pink-gradient-bg {
    background: rgb(244,143,177);
background: linear-gradient(45deg, rgba(244,143,177,1) 0%, rgba(248,187,208,1) 50%, rgba(244,143,177,1) 100%);
}

.blue-gradient-bg {
    background: rgb(129,212,250);
background: linear-gradient(45deg, rgba(129,212,250,1) 0%, rgba(179,229,252,1) 50%, rgba(129,212,250,1) 100%);
}

.black-gradient-bg {
    background: rgb(38,50,56);
background: linear-gradient(45deg, rgba(38,50,56,1) 0%, rgba(55,71,79,1) 100%);
}

#level-title {
    color: black;
    font-size: 2rem;
    height: 70px;
}

.colored-btn {
    height: 110px;
    width: 110px;
    display: inline-block;
    border: 1px solid black;
    border-radius: 20%;
} 

#btn-tl {
    background-color: #F44336; /* red 500 */
    border:5px solid #C62828; /* red 800 */
}

#btn-tr {
    background-color: #03A9F4; /* light-blue 500 */
    border:5px solid #0277BD; /* light-blue 800 */
}

#btn-bl {
    background-color: #43A047; /* green 600 */
    border:5px solid #2E7D32; /* green 800 */
}

#btn-br {
    background-color: #FDD835; /* yellow 600 */
    border:5px solid #F9A825; /* yellow 800 */
}

#btn-tl.pressed {
    background-color: #EF9A9A; /* red 200*/
    border-color: #FFCDD2; /* red 100 */
}

#btn-tr.pressed {
    background-color: #81D4FA; /* light-blue 200 */
    border-color: #E1F5FE; /* light-blue  */
}

#btn-bl.pressed {
    background-color: #A5D6A7; /* green 200 */
    border-color: #66BB6A; /* green 400 */
}

#btn-br.pressed {
    background-color: #FFF59D; /* yellow 200 */
    border-color: #FFF176; /* yellow 300 */
}

.pressed {
    box-shadow: 0 0 20px black;
}

body.game-over {
    background: rgb(239,83,80);
    background: linear-gradient(45deg, rgba(239,83,80,1) 50%, rgba(229,115,115,1) 100%);
} 

/*home.html*/

.page-container {
    height: 100vh;
    margin-top: -60px;
}

#home-title {
    font-size: 2rem;
    font-weight: bold;
    color: #311B92;
}

.logo-img {
    box-shadow: 5px 5px 10px 0px #534040;
    border-radius: 17px;
}

.start {
    margin-top: 5px;
}
